body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.3;
    max-width: 40em;
    margin: auto;
    text-align: justify;
}

a, h2 { color:rgb(225, 127, 74) }

.slika {
    float: left;
    margin-right: 2em;
}
.slika p {
    font-size: 0.7em;
    text-align: right;
    margin: 0.5em 0 1em 0;
}
.slika img {
    width: 100%;
    height: auto;
}
